<ion-view view-title="Favorites">
  <ion-content>
          <div class="row">
            <div class="col text-left">
              <h3> Hardcode address</h3>
            </div>
            <div class="col text-right">
              <button ng-hide="starClicked" id="starUnfav" class="button ion-android-star button-royal" ng-click="click()"></button>
              <button ng-show="starClicked" id="starFav" class="button ion-android-star button-royal" ng-click="click()"></button>
            </div>
          </div>
          <div class="row">
        <img style="-webkit-user-select: none" src="https://maps.googleapis.com/maps/api/streetview?size=150x150&location=214 Chute Rd, Golden&key=AIzaSyCMMSXM_tmUW5ssFigrBJGU-HXyB958gOA">
        </div>
      <br>

            <div class="row">
              <div class="col text-left">
                <h3>214 Chute Rd, Golden CO</h3>
              </div>
              <div class="col text-right">
                <button ng-hide="starClicked" id="starUnfav" class="button ion-android-star button-royal" ng-click="click()"></button>
                <button ng-show="starClicked" id="starFav" class="button ion-android-star button-royal" ng-click="click()"></button>
              </div>
            </div>
            <div class="row">
        <img style="-webkit-user-select: none" src="https://maps.googleapis.com/maps/api/streetview?size=150x150&location=214 Chute Rd, Golden&key=AIzaSyCMMSXM_tmUW5ssFigrBJGU-HXyB958gOA">
        </div>
    <br>
    <div class="row">
      <div class="col text-left">
        <h3> 434 Marine St, Boulder CO</h3>
      </div>
      <div class="col text-right">
        <button ng-hide="starClicked" id="starUnfav" class="button ion-android-star button-royal" ng-click="click()"></button>
        <button ng-show="starClicked" id="starFav" class="button ion-android-star button-royal" ng-click="click()"></button>
      </div>
    </div>
    <div class="row">
      <img style="-webkit-user-select: none" src="https://maps.googleapis.com/maps/api/streetview?size=150x150&location=434 Marine St, Boulder&key=AIzaSyCMMSXM_tmUW5ssFigrBJGU-HXyB958gOA">
      </div>
    <br>
  </ion-content>
</ion-view>
