<ion-view class="landing">
  <ion-content class=landIt>
        <h1 class="center">Curiocity</h1>
      <br><br>
        <h3 class="item-text-wrap pitch">A lightweight native app to fulfill your curiosities. Curiocity lets you explore the home buying market around you, home shop, or check the current value of your house.</h3>
      <br>
        <button ng-click="goToResults()" class="button button-royal search">Search by GPS</button>
      <br>
      <br>
      <br>
        <button ng-click="searchByAddress()" class="button button-royal search">Search by Address</button>
  </ion-content>
</ion-view>
